<h1>Your product subscriptions</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Options</th>
    </tr>
  <tbody>  
<% @notifications.each do |notification| %>
  <tr class="<%= cycle('even', 'odd')%>">
    <td><%= link_to notification.product.name, product_path(notification.product)%></td>
    <td>
      <%= link_to "Unsubscribe", unsubscribe_product_path(Notification.get_remove_hash(current_user, notification.product)) %>
    </td>
<% end %>
  </tbody>
</table>
