# Fixtures
spec/fixtures/*.yml

# database.yml and others found in config directory
config/*.yml

# .bundle
*.bundle

# db/schema.rb
db/schema.rb

# Apple
.AppleDouble/
*.o
*.so

# Logs
vendor/gems/*.log

# Makefile
Makefile
mkmf.log
conftest

# orig files created by hg
*.orig

# nerbeans project files
nbproject/*

# staroffice temp files
.~*\#

# RubyMine
.idea/*

# RVM
.rvmrc
*~
.bundle
db/*.sqlite3
db/sphinx/*
config/database.yml
log/*.pid
log/*.log
config/*.sphinx.conf
tmp/**/*
public/system/files/**/*
