# Fixtures
spec/fixtures/*.yml

# .bundle
*.bundle

# db/schema.rb
db/schema.rb

# Apple
.AppleDouble/
*.o
*.so
.sass-cache/
# Logs
vendor/gems/*.log
vendor/*

# Makefile
Makefile
mkmf.log
conftest

# orig files created by hg
*.orig

# nerbeans project files
nbproject/*

# staroffice temp files
.~*\#

# RubyMine
.idea/*

# RVM
.rvmrc
*~
.bundle
db/*.sqlite3
db/sphinx/*
log/*.pid
log/*.log
config/*.sphinx.conf
tmp/**/*
public/system/files/**/*
public/uploads/tmp/**/*
*.swp
public/system/**/*
public/uploads/**/*

# Configs
config/database.yml
config/stizun.yml
config/email.yml
.vscode/settings.json
