<h1>Listing accounts</h1>

<h2>Assets</h2>

<table>
  <tr>
  <th>ID</th>
  <th>Name</th>
  <th>Balance</th>
  </tr>

  <%= tree_recursive_for_accounts_table(@assets_accounts, parent_id = nil).html_safe %>
</table>


<h2>Liabilities</h2>

<table>
  <tr>
  <th>ID</th>
  <th>Name</th>
  <th>Balance</th>
  </tr>

  <%= tree_recursive_for_accounts_table(@liabilities_accounts, parent_id = nil).html_safe %>
</table>


<h2>Income</h2>

<table>
  <tr>
  <th>ID</th>
  <th>Name</th>
  <th>Balance</th>
  </tr>

  <%= tree_recursive_for_accounts_table(@income_accounts, parent_id = nil).html_safe %>
</table>


<h2>Expense</h2>

<table>
  <tr>
  <th>ID</th>
  <th>Name</th>
  <th>Balance</th>
  </tr>

  <%= tree_recursive_for_accounts_table(@expense_accounts, parent_id = nil).html_safe %>
</table>
