
#wrapper {
  margin: 0 auto;
  width: 100%;
  border: 0;
}

#header {
  padding: 0 10px 10px 10px;
}

#primarynav {
  float: left;
  padding-left: 20px;
  width: 200px;
}

#content {
  float: none;
  margin-left: 260px;
  width: auto;
}

#secondarynav {
  display: none;
}


#footer {
  clear: both;
  background: #EADDB8;
  border-top: 1px solid black;
  padding: 5px 5px 5px 15px;
  margin-top: 40px;
}


/* Admin navigation links on the left sidebar */
.admin-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.admin-navigation li {
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-bottom: 0;
}

.admin-navigation .lastlink {
  border-top: 1px solid #ccc;
}

.admin-navigation ul li {
  margin: 0;
  padding: 0;
}

.admin-navigation ul.indent {
  padding-left: 2em;
}

.admin-navigation ul li a {
  display: block;
  padding: 0.4em 0.1em 0.4em 0.4em;
  text-decoration: none;
}

.admin-navigation a {
  font-weight: bold;
  color: #000;
}

.admin-navigation a:hover {
  color: #669;
}

.admin-navigation li:hover {
  background: #f6f6f9;
}