<table>
      <% invoice_table.invoice_lines.each do |il| %>
        <%= render :partial => 'invoice_line', :object => il %>
      <% end %>
      
      <tr>
        <td> </td>
        <td>Shipping</td>
        <td> </td>
        <td> </td>
        <td class="price"><%= pretty_price(invoice_table.shipping_cost.rounded) %></td>
      </tr>
      
      <tr>
        <td> </td>
        <td><strong>Total</strong></td>
        <td> </td>
        <td> </td>
        <td class="price"><strong><%= pretty_price(invoice_table.taxed_price.rounded) %></strong></td>
      </tr>

</table>

<p>
VAT included: <%= pretty_price(invoice_table.taxes)%>
</p>
