<h2>Invoices</h2>

<%= render :partial => 'search_form' %>

<table>
  <tr>
    <th>
    Document ID
    </th>
    <th>
      Date
    </th>
    <th>
      Billing
    </th>
    <th>
      Shipping
    </th>
    <th>
      Total
    </th>
    <th>
      Status
    </th>
    <th>
      Actions
    </th>
  </tr>

<% @invoices.each do |i| %>

<%= render :partial => 'detail_row', :object => i %>

<% end %>


</table>
