
<% categories = Category.find(:all)%>
<%= tree_recursive(categories) %>


<div id="categorytree">

</div>


<script type="text/javascript">
jQuery("#categorytree")
    .jstree({
    "json_data" : {
            "data" : [
                {
                    "data" : "A node",
                    "children" : [ "Child 1", "Child 2" ]
                },
                {
                    "attr" : { "id" : "li.node.id" },
                    "data" : {
                        "title" : "Long format demo",
                        "attr" : { "href" : "#" }
                    }
                }
            ]
        },
        core : { /* core options go here */ },
        plugins : [ "themes", "json_data" ]
    });
</script>