
<div id="lincomp_explanation">
  <h3>Was ist Lincomp?</h3>
  <p>Wir sind ein Online-Shop, spezialisiert auf massgeschneiderte PCs und Notebooks ohne Zwang zu einer Betriebssystem-Lizenz. Natürlich führen wir auch PC-Zubehör, Unterhaltungselektronik und andere IT-Produkte. Bei unseren Produkten achten wir sehr auf Linux-Kompatibilität und beraten Sie auch entsprechend.</p>

  <p>Fehlt Ihnen ein Produkt in unserem Sortiment? <%= link_to 'Schreiben Sie uns', 'mailto:info@lincomp.ch' %>, und wir machen Ihnen gerne eine Offerte.</p>
</div>

<div id="special_offers">
<h3>Unsere aktuellen Aktionen</h3>
  <%= render :partial => 'products/special_offers' %>
</div>