<h1>Impressum</h1>

<p><strong>Lincomp GmbH</strong><br>
Hornstrasse 12A<br>
5015 Erlinsbach SO<br>
Schweiz<br>
Kontakt<br></p>

<p>
Tel: +41 (0)81 544 80 44<br>
Fax: +41 (0)81 544 80 45<br>
E-Mail: <a href="mailto:info@lincomp.ch">info@lincomp.ch</a><br>
</p>

<h3>Geschäftsführung</h3>

<p>Herr Schenker, Nick Michael</p>

<p>
Handelsregisternummer CH-350.4.002.864-9, Handelsregisteramt des Kantons Solothurn<br>
Mehrwertsteuernummer: CHE-116.249.847<br>
</p>
<h3>Bankinformationen</h3>
<table>
  <tr>
    <td>Kontoinhaber:</td> <td>Lincomp GmbH</td>
  </tr>
  <tr>
    <td>Bank:</td><td> Raiffeisenbank Erlinsbach, Hauptstrasse 34, 5015 Erlinsbach SO</td>
  </tr>
  <tr>
    <td>IBAN:</td><td> CH35 8094 0000 0210 8998 6</td>
  </tr>
  <tr>
    <td>Postkonto der Bank:</td><td> 50-4377-5</td>
  </tr>
  <tr>
    <td>Bankenclearing-Nummer:</td><td> 80940</td>
  </tr>
</table>
</p>

<h3>Ausrichtung</h3>

<p>Die Lincomp GmbH mit Firmensitz in 5015 Erlinsbach SO wurde als Online-Shop ohne Ladengeschäft gegründet. Spezialisiert auf massgeschneiderte PCs, Notebooks und Server, richten wir unser Hauptaugenmerk auf den Verzicht auf die oft vorinstallierten Betriebssysteme und bieten eine Produktpalette mit möglichst hoher Linux-Kompatibilität.</p>

