<h1>Allgemeine Geschäftsbedingungen</h1>

<h2>Allgemeine Geschäftsbedinungen (AGB) der Lincomp GmbH</h2>

<p>Dies sind die allgemeinen Geschäftsbedinungen (AGB) der Lincomp GmbH. Sie gelten für die von der
Lincomp GmbH betriebenen Dienstleistungen und vertriebenen Produkte unter der Marke Lincomp.</p>

<p>Im folgenden gelten folgende Bezeichnungen:</p>

<ul>
  <li>Kunde: Juristische oder natürliche Person in einer Geschäftsbeziehung mit der Lincomp GmbH. Die maskuline Schreibweise gilt für beide Geschlechter und wurde zur Vereinfachung des Leseflusses gewählt.</li>
  <li>Produkte: Alle von der Lincomp GmbH vertriebenen Produkte und Eigenentwicklungen.</li>
  <li>Dienstleitungen: Alle von der Lincomp GmbH erbrachten Dienstleistungen.</li>
  <li>Online-Produktkatalog: Der Produktkatalog unter der Adresse http://www.lincomp.ch, http://lincomp.ch (und folgende/verlinkte Seiten unter gleichem Domainnamen)</li>
  <li>Online-Shop: Der Online-Shop unter der Adresse http://www.lincomp.ch, http://lincomp.ch (und folgende/verlinkte Seiten unter gleichem Domainnamen)</li>
</ul>

<h3>Geltungsbereich</h3>
<p>Zwischen Kunde und der Lincomp GmbH gelten ausschliesslich diese AGB. Abweichende Bedingungen
werden nur dann anerkannt, wenn sie zwischen Kunde und Lincomp GmbH ausdrücklich vereinbart
wurden.</p>

<p>Für hier nicht geregelte Punkte gelten die Bestimmungen aus dem Schweizer Obligationenrecht (OR).</p>

<h3>Entstehung des Kaufvertrags</h3>

<p>Nach Bestellungseingang im Online-Shop prüft die Lincomp GmbH die Bestellung des Kunden und
versendet dann eine Rechnung per E-Mail. Mit Versand dieser Rechnung entsteht ein gültiger
Kaufvertrag zwischen Lincomp GmbH und dem Kunden. Eine evtl. verschickte Empfangsbestätigung gilt
nicht als Kaufvertrag, da bei Versand dieser Bestätigung weder Liefersituation noch Preise endgültig sind.</p>


<p>Sollten bestellte Artikel bei Bestellungseingang nicht lieferbar sein, steht es der Lincomp GmbH frei, den Kaufvertrag aufzulösen.</p>

<h3>Zahlung</h3>
cherzbestellungen zu vermeiden, wird die Erstbestellung eines Kunden immer per Vorkasse
abgerechnet. Nach der ersten Bestellung haben Kunden die Möglichkeit, andere Zahlungsmodalitäten
(z.B. Lieferung auf Rechnung) zu vereinbaren. Die Lincomp GmbH behält sich das recht vor eine
Bonitätsprüfung vorzunehmen.</p>

<h3>Eigentumsvorbehalt</h3>
<p>Produkte bleiben bis zur vollständigen Bezahlung durch den Kunden Eigentum der Lincomp GmbH.</p>

<h3>Lieferung</h3>
<p>Die Lieferung gilt dann als abgeschlossen und der Kaufvertrag gilt als erfüllt, wenn der Versand der
Artikel erfolgt. Das Transportrisiko geht zu Lasten des Kunden. Sollten Transportschäden entstanden
sein, sind diese vom Transporteur zu erfassen und vom Kunden unverzüglich und schriftlich zu melden.
Gehen innert 14 Tagen nach dem Empfang der Produkte keine Beanstandungen bei uns ein, gilt die
Lieferung als komplett und frei von Mängeln.</p>

<h3>Gewährleistung und Garantie</h3>

<p>Es ist im Sinne des Kunden, sich bei Garantiefällen direkt an den Hersteller zu wenden. Dies verkürzt die
Wartezeiten und schont die Umwelt durch Einsparung von Transportwegen. Garantieleistungen werden in
jedem Fall durch die Hersteller erbracht, nicht durch die Lincomp GmbH. Sollte der Kunde der Lincomp
GmbH Produkte zusenden, die für eine Weitersendung an den Hersteller bestimmt sind, übernimmt der
Kunde jegliche Versandkosten, ausser er hat vorausgehend andere Vereinbarungen getroffen.</p>

<p>Die Lincomp GmbH haftet explizit nicht für Mängel durch unsachgemässen Gebrauch oder Abnutzung.</p>

<h3>Kompatibilitätsgarantien</h3>
<p>Die von der Lincomp GmbH durchgeführten Kompatibilitätsprüfungen gelten exakt für das angegebene
Modell eines Lincomp eigenen Produkts und exakt für die als kompatibel bezeichnete Hard- und/oder
Software. Rückschlüsse auf die Kompatibilität zwischen ähnlichen Produkten, insbesondere von anderen
Fertigungsserien desselben Modells, sind nicht möglich. Ebenfalls sind Rückschlüsse auf die
Kompatibilität zu anderer Hard- und/oder Software unmöglich.</p>

<p>Die Kompatibilitätsgarantie gilt nicht für Produkte und Produktserien, bei denen der Hersteller nach der
Kompatibilitätsprüfung Veränderungen jeglicher Art gemacht hat. Ist nichts anderes angegeben, gilt als
Datum der Kompatibilitätsprüfung der Tag der Aufnahme in den Produktkatalog.</p>

<p>Stellt ein Kunde fest, dass die von der Lincomp GmbH garantierte Kompatibilität auf ein von ihm
bestelltes Produkt nicht zutrifft, kann er das Produkt gegen die Erstattung des Kaufpreises (ohne
Versandkosten) retournieren. Dies gilt nicht, wenn die Lincomp GmbH glaubhaft beweisen kann, dass die
garantierte Kompatibilität tatsächlich besteht.</p>

<p>Eine eventuelle Rückerstattung erfolgt per Banküberweisung in Schweizer Franken (CHF) auf ein
Schweizer Bankkonto, nicht in bar.</p>

<h3>Herstellerinformationen im Produktkatalog</h3>

<p>Die Lincomp GmbH bewirtschaftet ihren Online-Produktkatalog mit grosser Sorgfalt. Da die Lincomp
GmbH lediglich Produkte anderer Hersteller vertreibt, muss sie sich bei der Erstellung des Katalogs auch
auf Herstellerinformationen verlassen. Für Fehler in den Herstellerinformationen übernimmt die Lincomp
GmbH keinerlei Haftung oder Gewähr. Dies bezieht sich auch auf die vom Hersteller bereitgestellten
Kompatibilitätsangaben, und dessen vorinstallierte Software.</p>

<h3>Preisinformationen im Produktkatalog</h3>

<p>Preise im Katalog verstehen sich inklusive Mehrwertsteuer, ausser es ist etwas anderes vermerkt.</p>

<h3>Preisänderungen und Irrtümer</h3>

<p>Preisänderungen und Irrtümer in den Preislisten sowie dem Online-Katalog der Lincomp GmbH, sowohl
unter der Marke Lincomp wie unter anderen Marken, sind vorbehalten.</p>

<h3>Gerichtsstand</h3>
<p>Gerichtsstand ist Erlinsbach SO.</p>

<p><em>Version 0.4, Januar 2012.</em></p>

