<h1><%= t("stizun.order.overview")%></h1>

<table class="orders">
  <% @orders.each do |o| %>
    <div class="<%= cycle('even', 'odd') %>">
      <%= render :partial => 'order', :object => o %>
    </div>
  <% end %>
</table>