<% if controller.controller_name != "orders" %>

<div id="navColumnTwoWrapper">

<div class="box" id="sidebar_cart"> 
  <div class="box_hd"> 
    <h3 class="rightBoxHeading"><span class="icon-cart-4" style="font-size: 12pt; margin-right: 5px;"></span> <%= t("stizun.cart.shopping_cart")%></h3> 
  </div> 
  <div class="box_ct"> 
      <%= render :partial => 'carts/sidebar' %>
  </div> 
  <div class="box_ft"> 
      &nbsp;
  </div>

</div>


<% end %>
