

<p>
  <%= address_box.block_summary.gsub("\n","<br />") %>
</p>

<p>
  <%= link_to t("stizun.general.edit"), edit_user_address_path(address_box.user, address_box) %> 
   | 
  <%= link_to t("stizun.general.delete"), user_address_path(address_box.user, address_box), :confirm => 'Are you sure?', :method => 'delete' %>  
</p>

<p><br /></p>