<h3><%= t("stizun.address.your_adresses") %></h3>

<%= link_to t("stizun.address.add_new_address"), new_address_path %>

<% @addresses.each do |a| %>

   <%= render :partial => 'address_box', :object => a %>


<% end %>