<h3><%= t("stizun.address.new_address")%></h3>

<%= error_messages_for(:address) %>

<% form_for @address do |f| %>
 
  <%= render :partial => 'form', :object => f %>

  <%= f.submit t("stizun.address.save_address") %>


<% end %>