

<tr>
  <td>
    <%= link_to category_summary_line.name, admin_category_products_path(category_summary_line) %>
  </td>
  <td>
    <%= link_to 'Edit', edit_admin_category_path(category_summary_line) %>
  </td>
</tr>