
<table>
  <tr>
    <th>Qty</th>
    <th>Name</th>
    <th>Single</th>
    <th>Total</th>
    <td></td>

  </tr>
  
  <% product_sets.each do |ps| %>
  <%= render :partial => 'product_set', :object => ps %>

  <% end %>

<tr>
  <td></td>
  <td>
  Total
  </td>
  <td></td>
  <td class="price">
  <%= pretty_price(@product.taxed_price.rounded) %>
  </td>
  <td></td>
</tr>

</table>