@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot');
	src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/icomoon.woff') format('woff'),
		url('/fonts/icomoon.ttf') format('truetype'),
		url('/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-shopping-cart, .icon-cart, .icon-cart-2, .icon-cart-3, .icon-bubbles, .icon-user, .icon-envelope, .icon-envelope-alt, .icon-envelop, .icon-mail, .icon-user-2, .icon-cart-4, .icon-user-3, .icon-users, .icon-user-4, .icon-user-5, .icon-users-2, .icon-bubbles-2, .icon-bubbles-3, .icon-bubbles-4, .icon-tux, .icon-list, .icon-list-2, .icon-list-3, .icon-th-list, .icon-list-ul, .icon-list-4, .icon-list-nested, .icon-new {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-shopping-cart:before {
	content: "\f07a";
}
.icon-cart:before {
	content: "\e005";
}
.icon-cart-2:before {
	content: "\e006";
}
.icon-cart-3:before {
	content: "\e007";
}
.icon-bubbles:before {
	content: "\e000";
}
.icon-user:before {
	content: "\f007";
}
.icon-envelope:before {
	content: "\f003";
}
.icon-envelope-alt:before {
	content: "\f0e0";
}
.icon-envelop:before {
	content: "\e001";
}
.icon-mail:before {
	content: "\e003";
}
.icon-user-2:before {
	content: "\e002";
}
.icon-cart-4:before {
	content: "\e004";
}
.icon-user-3:before {
	content: "\e008";
}
.icon-users:before {
	content: "\e009";
}
.icon-user-4:before {
	content: "\e00a";
}
.icon-user-5:before {
	content: "\e00b";
}
.icon-users-2:before {
	content: "\e00c";
}
.icon-bubbles-2:before {
	content: "\e00d";
}
.icon-bubbles-3:before {
	content: "\e00e";
}
.icon-bubbles-4:before {
	content: "\e00f";
}
.icon-tux:before {
	content: "\e010";
}
.icon-list:before {
	content: "\e011";
}
.icon-list-2:before {
	content: "\e012";
}
.icon-list-3:before {
	content: "\e013";
}
.icon-th-list:before {
	content: "\f00b";
}
.icon-list-ul:before {
	content: "\f0ca";
}
.icon-list-4:before {
	content: "\e015";
}
.icon-list-nested:before {
	content: "\e014";
}
.icon-new:before {
	content: "\e016";
}
