/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*= require "themes/lincomp/errors"
*= require "jquery.fancybox"
*= require "jquery-ui/smoothness/jquery-ui-1.8.20.custom"
*= require_self
*= require "general_admin"
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 0;
}


#devheader {
  border-bottom: 2px solid black;
  background: #efcccc;
}

#wrapper {
  margin: 0 auto;
  width: 1020px;
  border: 1px solid black;
}

#header {
  padding: 0 10px 10px 10px;
}

#primarynav {
  float: left;
  width: 200px;
}

#content {
  float: left;
  width: 600px;
}

#secondarynav {
  float: left;
  width: 200px;
}


#footer {
  clear: both;
  border-top: 1px solid black;
  padding: 5px 5px 5px 15px;
}

#cart {
  border: 1px solid #cecece;
  padding: 8px;
}

.fieldWithErrors {
  background: #9AFFE7;
}

td.price {
  text-align: right;
}

/* General table styles */

td {
  vertical-align: top;
}

.even {

}

.odd {
  background-color: #ededed;
}

.sales_price {
  font-size: 14pt;
  color: red;
}

div.on_sale_product {
  border: 2px solid #cc0000;
  padding: 8px;
}

.danger {
  color: #AE2F10;
}

