<p>Guten Tag</p>

<p>Sie haben ein neues Passwort für Ihr Lincomp-Konto angefordert. Mit untenstehendem Link können Sie ein neues Passwort setzen:</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Falls Sie kein neues Passwort verlangt haben, können Sie diese E-Mail ignorieren. Ihr Passwort wird erst geändert, wenn Sie den obigen Link benutzen. Tun sie das nicht, bleibt alles beim Alten.</p>
